@font-face {
  font-family: "Roboto_Condensed";
  src: local("Roboto_Condensed"), url("font/RobotoCondensed-Light.ttf");
}

#title {
  font-size: 70px;
  font-family: "Roboto_Condensed";
  text-align: center;
}

small {
  color: rgb(225, 255, 255);
}
